body{
	position: relative;

	margin-top: 0;
	margin-bottom: 0;
	width: 1020px;
	margin: auto;
}

#portfolio{
	height: 864px;

	background-color: #2d303a;
	border-bottom: 6px #323746 solid;
}

#portfolio_header{
	display: block;
  padding-left: 40px;
	padding-top: 60px;

	color: #666d89;
	font-size: 30px;
	font-family: Lato-Black;
}

#portfolio_text{
	display: block;
	padding-left: 40px;
	padding-top: 22.65px;

	color: #767e9e;
	font-size: 18px;
	font-family: Lato-Light;
}

#portfolio_menu{
	display: inline-block;
	padding-top: 18px;
	padding-left: 34px;

	font-size: 12px;
	font-family: Lato-Regular;
}

.portfolio_link{
  padding-right: 6.5px;
	padding-left: 6px;
	padding-bottom: 3px;
	padding-top: 2px;
	margin-left: 7px;

	text-decoration: none;
  color: #666d89;

	border-width: 1px;
  border-color: #666d89;
  border-style: solid;
  border-radius: 5px;
}

.portfolio_link:hover{
	pointer: cursor;
}

.portfolio_link:active{
	text-decoration: underline;
	color: red;
}

.link_all{
	color: white;

	border-color: rgb(197, 197, 197);
}

.portfolio_div_img{
	padding-top: 22px;
	padding-left: 40px;
	padding-right: 40px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  max-height: 610px;

  overflow: hidden;
}

#aboutus{
	height: 728px;

	background-color: #f2f2f2;
	border-bottom: 6px #ffffff solid;
}

#aboutus_header{
	display: block;
  padding-left: 40px;
	padding-top: 60px;

	color: #666d89;
	font-size: 30px;
	font-family: Lato-Black;
}

#aboutus_text{
	display: block;
	padding-left: 40px;
	padding-top: 17px;

	line-height: 30px;
	word-spacing: 1px;
	color: #767e9e;
	font-size: 18px;
	font-family: Lato-Light;
}

#aboutus_container{
	padding-top: 45px;
	padding-left: 40px;
	padding-right: 40px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}



.aboutus_name{
	padding-left: -1px;
	padding-top: 11px;
	display: block;

	color: #666d89;
	font-size: 18px;
	font-family: Lato-Black;
}

.aboutus_about{
	display: block;
	padding-top: 9px;

	color: #666d89;
	font-size: 12px;
	font-family: Lato-Regular;
	line-height: 21px;
}

.aboutus_icon{
	display: grid;
	padding-left: 1px;
	padding-top: 24px;
	grid-template-columns: repeat(4, 33px);
	grid-column-gap: 7px;
}

.aboutus_icon_link:hover{
	pointer: cursor;
}

.aboutus_icon_link:active{
	text-decoration: underline;
	color: red;
}
