body{
	position: relative;

	margin-top: 0;
	margin-bottom: 0;
	width: 1020px;
	margin: auto;
}

<<<<<<< HEAD
nav{
  height: 89px;
=======
header{
	position: sticky;
	top: 0px;
	z-index: 100;
}

nav{
  	height: 89px;
>>>>>>> DOM

	background-color: #2d303a;
	border-bottom: 6px #323746 solid;
}

h1{
  margin: 0;
  padding-left: 40px;
	padding-top: 29px;
  display: inline-block;

	color: #ffffff;
	font-size: 24px;
	font-family: Lato-Bold;
}

<<<<<<< HEAD
=======
a.an{
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

>>>>>>> DOM
#asterisk{
  margin: 0;

	font-size: 25px;
  font-family: Lato-Bold;
	color: #f06c64;
}

#topmenu{
	float: right;
	margin-right: 40px;
	margin-top: 39px;
	display: inline-block;
}

<<<<<<< HEAD
=======
.visit{
	color: #f06c64;
}

>>>>>>> DOM
.toplink{
	color: white;
	font-size: 11.5px;
	font-family: Lato-Bold;
	text-decoration: none;
}

.toplink:hover{
<<<<<<< HEAD
	pointer: cursor;
=======
	cursor: pointer;
>>>>>>> DOM
}

.toplink:active{
	text-decoration: underline;
	color: red;
}

.toplink:not(:last-child)::after {
  padding: 12px;

  color: #494e62;

  content: "\00B7";
}

.home{
	color: #f06c64;
}

<<<<<<< HEAD
.slider{
  height: 594px;

=======
#slide_1{
	height: 594px;
>>>>>>> DOM
	background: #f06c64;
	border-bottom: 6px #ea676b solid;
}

<<<<<<< HEAD
.left{
	margin-left: 42px;
	margin-top: 280px;
}

.right{
	float: right;
	margin-right: 40px;
	margin-top: 280px;
	display: inline-block;
=======
#slide_2{
	height: 600px;
	background: #648BF0;
}

.left{
	position: absolute;
	top: 375px;
	left: 42px;

}

.right{
	position: absolute;
	top: 375px;
	left: 965px;
>>>>>>> DOM
}

.shadow_vertical{
  position: absolute;
  left: 112px;
  top: 148px;
  z-index: 48;

  width: 240px;
  height: 483px;

  opacity: 0.14;
}

.smartphone_vertical{
  position: absolute;
  left: 112px;
  top: 148px;
  z-index: 49;
}

.screen_vertical{
  position: absolute;
  left: 126px;
  top: 213px;
  z-index: 50;
<<<<<<< HEAD
=======
  transition: 0.8s;

>>>>>>> DOM
}

.shadow_horizontal {
  position: absolute;
  left: 548px;
  top: 148px;
	z-index: 38;

  width: 240px;
  height: 483px;

  opacity: 0.14;
  transform: rotateY(180deg) rotate(90deg);
}

.smartphone_horizontal{
  position: absolute;
  left: 547px;
  top: 148px;
	z-index: 39;

  transform: rotate(90deg);
}

.screen_horizontal{
  position: absolute;
  left: 485px;
  top: 283px;
  z-index: 40;
<<<<<<< HEAD
=======

  transition: 0.8s;
}

#phone_1{
	position: absolute;
	opacity: 0.5;
}

.small_shadow_1{
	position: absolute;
	top: 152px;
	left: 252px;
}

.small_photo_1{
	position: absolute;
	top: 152px;
	left: 252px;
}

.small_display_1{
	position: absolute;
	top: 194.26px;
	left: 261.1px;
	transition: 0.8s;
}

#phone_2{
	position: absolute;
}

.phone_shadow{
	position: absolute;
	top: 43px;
	left: 383px;
}

.phone_photo{
	position: absolute;
	top: 43px;
	left: 382.47px;
}

.phone_display{
	position: absolute;
	top: 112.04px;
	left: 397.87px;
	transition: 0.8s;
}

#phone_3{
	position: absolute;
	opacity: 0.5;
}

.small_shadow_2{
	position: absolute;
	top: 152px;
	left: 612.16px;
}

.small_photo_2{
	position: absolute;
	top: 152px;
	left: 611.83px;
}

.small_display_2{
	position: absolute;
	top: 194.26px;
	left: 621.26px;
	transition: 0.8s;
}

.visibil{
	filter: brightness(1);
>>>>>>> DOM
}

.our_services{
	height: 494px;
  position: relative;

	margin-bottom: 0;

	background-color: #f2f2f2;
  border-bottom: 6px #ffffff solid;
}

.our_services_header{
  position: absolute;
	top: 60px;
	left: 40px;

	font-family: Lato-Black;
	font-size: 30px;
	color: #666d89;
}

.fusce{
  position: absolute;
	top: 113px;
	left: 40px;
  width: 940px;

	font-family: Lato-Light;
	font-size: 18px;
	color: #767e9e;
	line-height: 30px;
}

.container{
	display: grid;
	margin-left: 40px;
	padding-top: 216px;

	grid-template-columns: 300px 300px 300px;
	grid-template-rows: 90px 90px;
  grid-column-gap: 20px;
  grid-row-gap: 33px;
}

.item{
  display: grid;
  grid-template-columns: 80px 220px;
  grid-template-rows: 30px 60px;
  grid-template-areas:
  "icon item_header"
  "icon item_text"
}

.icon{
	padding-top: 5px;
}

.item_header{
	font-size: 18px;
	font-family: Lato-Black;
	color: #767e9e;
}

.item_text{
  padding-top: 1px;

  letter-spacing: 0.7px;
  line-height: 21.56px;
  font-size: 12px;
  color: #767e9e;
  word-spacing: 3px;

  grid-column: 2;
  overflow: hidden;
}

<<<<<<< HEAD
#portfolio{
=======
.portfolio{
>>>>>>> DOM
	height: 864px;

	background-color: #2d303a;
	border-bottom: 6px #323746 solid;
}

#portfolio_header{
	display: block;
  padding-left: 40px;
	padding-top: 60px;

	color: #666d89;
	font-size: 30px;
	font-family: Lato-Black;
}

#portfolio_text{
	display: block;
	padding-left: 40px;
	padding-top: 22.65px;

	color: #767e9e;
	font-size: 18px;
	font-family: Lato-Light;
}

#portfolio_menu{
	display: inline-block;
	padding-top: 18px;
	padding-left: 34px;

	font-size: 12px;
	font-family: Lato-Regular;
}

.portfolio_link{
  padding-right: 6.5px;
	padding-left: 6px;
	padding-bottom: 3px;
	padding-top: 2px;
	margin-left: 7px;

	text-decoration: none;
  color: #666d89;

	border-width: 1px;
  border-color: #666d89;
  border-style: solid;
  border-radius: 5px;
}

.portfolio_link:hover{
<<<<<<< HEAD
	pointer: cursor;
=======
	cursor: pointer;
>>>>>>> DOM
}

.portfolio_link:active{
	text-decoration: underline;
	color: red;
}

<<<<<<< HEAD
=======
.portfolio_border_red{
	outline:solid 5px #F06C64;
}

>>>>>>> DOM
.link_all{
	color: white;

	border-color: rgb(197, 197, 197);
}

<<<<<<< HEAD
.portfolio_div_img{
=======
#portfolio_div_img{
>>>>>>> DOM
	padding-top: 22px;
	padding-left: 40px;
	padding-right: 40px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  max-height: 610px;
<<<<<<< HEAD

  overflow: hidden;
}

#aboutus{
	height: 728px;

=======
  -webkit-font-smoothing: antialiased;
  transition: 0.8s;
  overflow: hidden;
}

.portfolio_img{
	-webkit-font-smoothing: antialiased;
	transition: 0.8s;
}

.aboutus{
	height: 728px;
>>>>>>> DOM
	background-color: #f2f2f2;
	border-bottom: 6px #ffffff solid;
}

#aboutus_header{
	display: block;
  padding-left: 40px;
	padding-top: 60px;

	color: #666d89;
	font-size: 30px;
	font-family: Lato-Black;
}

#aboutus_text{
	display: block;
	padding-left: 40px;
	padding-top: 17px;

	line-height: 30px;
	word-spacing: 1px;
	color: #767e9e;
	font-size: 18px;
	font-family: Lato-Light;
}

#aboutus_container{
	padding-top: 45px;
	padding-left: 40px;
	padding-right: 40px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}



.aboutus_name{
	padding-left: -1px;
	padding-top: 11px;
	display: block;
	width: 300px;
	height: 22px;

	color: #666d89;
	font-size: 18px;
	font-family: Lato-Black;
	white-space: nowrap;

	overflow: hidden;
}

.aboutus_about{
	display: block;
	padding-top: 9px;

	color: #666d89;
	font-size: 12px;
	font-family: Lato-Regular;
	line-height: 21px;
}

.aboutus_icon{
	display: grid;
	padding-left: 1px;
	padding-top: 24px;
	grid-template-columns: repeat(4, 33px);
	grid-column-gap: 7px;
}

.aboutus_icon_link:hover{
<<<<<<< HEAD
	pointer: cursor;
=======
	cursor: pointer;
>>>>>>> DOM
}

.aboutus_icon_link:active{
	text-decoration: underline;
	color: red;
}

<<<<<<< HEAD
#Get_a_Quote{
=======
.Get_a_Quote{
>>>>>>> DOM
	padding-top: 59px;
	padding-left: 40px;
	height: 589px;

	background: #f06c64;
	border-bottom: 6px #ea676b solid;
}

#Get_a_Quote_header{
	display: block;

	font-family: Lato-Black;
	font-size: 30px;
	color: #f0d8d9;
}

#Get_a_Quote_text{
	display: block;
	padding-top: 18px;

	font-family: Lato-Light;
	font-size: 18px;
	color: #f0d8d9;
	line-height: 30px;
	word-spacing: 1px;
}

#Get_a_Quote_form{
	padding-top: 28px;
	display: inline-block;
  max-width: 620px;
}

.Get_a_Quote_input{
	margin-top: 16px;
	height: 36px;

	border-radius: 5px;
	width: 604px;
	border: 0px;
	background-color: #d6564f;

	padding-left: 15px;
	font-size: 12px;
	font-family: Lato-Regular;
	color: #ffffff;

	outline: none;
}

.Get_a_Quote_area{
	height: 190px;
	padding-top: 10px;
	width: 602px;
}

.Get_a_Quote_input::-moz-placeholder{
	color: #f48c8f;
}

.Get_a_Quote_input::-webkit-input-placeholder{
	color: #f48c8f;
}

#submit{
	height: 50px;
	width: 200px;


	color: #f0d8d9;
	text-decoration: none;

	background-color: #d6564f;
	border-radius: 5px;

}

<<<<<<< HEAD
=======
#submit:hover{
	cursor: pointer;
}

>>>>>>> DOM
#Get_a_Quote_text_right{
	font-family: Lato-Black;
	font-size: 18px;
}

#Get_a_Quote_text_right_2{
	margin-top: 8px;

	font-family: Lato-Regular;
	font-size: 12px;
	line-height: 21.7px;
}

#Get_a_Quote_text_right_div{
	padding-top: 42px;
	padding-right: 40px;
	float: right;
	max-width: 300px;

	color: #f0d8d9;
}

#location_img{
	padding-top: 16px;
	padding-left: 3px;
}

#location_span{
	padding-left: 13px;

	font-family: Lato-Regular;
	font-size: 12px;
}

#apercot{
	margin: 0px;
}

#phone_img{
	padding-top: 6px;
	padding-left: 1px;
}

#phone_span{
	padding-left: 11px;

	font-family: Lato-Regular;
	font-size: 12px;
}

#mail_img{
	padding-top: 10px;
}

#mail_span{
	padding-left: 10px;

	font-family: Lato-Regular;
	font-size: 12px;
}

footer{
	height: 76px;

	background: #2d303a;
}

#div_copy{
	padding-top: 28px;
	display: inline-block;
}

#copy{
	padding-left: 42px;

	color: #666d89;
	font-family: Lato-Regular;
	font-size: 12px;
}

#footer_icon{
	padding-top: 22px;
	padding-right: 40px;
	float: right;
}

.footer_icon_link{
	padding-left: 4px;
}
<<<<<<< HEAD
=======

#model_window{
	position: absolute;
	top: 3000px;
	left: 210px;
	width: 600px;
	height: 400px;
	background: #ffffff;
	z-index: 151;
}

.layout{
	background: rgba(0,0,0,.5);
	width:100%;
    height:100%;
    position:absolute;
    z-index:150
}

.model_window_text{
	display: block;
	padding-left: 40px;
	padding-top: 17px;
	width: 500px;
	max-height: 150px;
	overflow: hidden;

	line-height: 30px;
	word-spacing: 1px;
	color: #000000;
	font-size: 18px;
	font-family: Lato-Light;

}

#model_submit{
	position: absolute;
	width: 100px;
	bottom: 20px;
	left: 250px;
}

#model_submit:hover{
	cursor: pointer;
}

.footer_link{
	text-decoration: none;
	color: #f0d8d9;
}
>>>>>>> DOM
