@import "lato.css";

body{
	position: relative;

	margin-top: 0;
	margin-bottom: 0;
	width: 1020px;
	margin: auto;
}

nav{
  height: 89px;

	background-color: #2d303a;
	border-bottom: 6px #323746 solid;
}

h1{
  margin: 0;
  padding-left: 40px;
	padding-top: 29px;
  display: inline-block;

	color: #ffffff;
	font-size: 24px;
	font-family: Lato-Bold;
}

#asterisk{
  margin: 0;

	font-size: 25px;
  font-family: Lato-Bold;
	color: #f06c64;
}

#topmenu{
	float: right;
	margin-right: 40px;
	margin-top: 39px;
	display: inline-block;
}

.toplink{
	color: white;
	font-size: 11.5px;
	font-family: Lato-Bold;
	text-decoration: none;
}

.toplink:hover{
	pointer: cursor;
}

.toplink:active{
	text-decoration: underline;
	color: red;
}

.toplink:not(:last-child)::after {
  padding: 12px;

  color: #494e62;

  content: "\00B7";
}

.home{
	color: #f06c64;
}

.slider{
  height: 594px;

	background: #f06c64;
	border-bottom: 6px #ea676b solid;
}

.left{
	margin-left: 42px;
	margin-top: 280px;
}

.right{
	float: right;
	margin-right: 40px;
	margin-top: 280px;
	display: inline-block;
}

.shadow_vertical{
  position: absolute;
  left: 112px;
  top: 148px;

  width: 240px;
  height: 483px;

  opacity: 0.14;
}

.smartphone_vertical{
  position: absolute;
  left: 112px;
  top: 148px;
}

.screen_vertical{
  position: absolute;
  left: 126px;
  top: 213px;
}

.shadow_horizontal {
  position: absolute;
  left: 548px;
  top: 148px;
  width: 240px;
  height: 483px;

  opacity: 0.14;
  transform: rotateY(180deg) rotate(90deg);
}

.smartphone_horizontal{
  position: absolute;
  left: 547px;
  top: 148px;

  transform: rotate(90deg);
}

.screen_horizontal{
  position: absolute;
  left: 485px;
  top: 283px;
}

.our_services{
	height: 500px;
  position: relative;
	
	margin-bottom: 0;

	background-color: #f2f2f2;
  border-bottom: 6px #ffffff solid;
}

.our_services_header{
  position: absolute;
	top: 60px;
	left: 40px;

	font-family: Lato-Black;
	font-size: 30px;
	color: #666d89;
}

.fusce{
  position: absolute;
	top: 113px;
	left: 40px;
  width: 940px;

	font-family: Lato-Light;
	font-size: 18px;
	color: #767e9e;
	line-height: 30px;
}

.container{
	display: grid;
	margin-left: 40px;
	padding-top: 216px;

	grid-template-columns: 300px 300px 300px;
	grid-template-rows: 90px 90px;
  grid-column-gap: 20px;
  grid-row-gap: 33px;
}

.item{
  display: grid;
  grid-template-columns: 80px 220px;
  grid-template-rows: 30px 60px;
  grid-template-areas:
  "icon item_header"
  "icon item_text"
}

.icon{
	padding-top: 5px;
}

.item_header{
	font-size: 18px;
	font-family: Lato-Black;
	color: #767e9e;
}

.item_text{
  padding-top: 1px;

  letter-spacing: 0.7px;
  line-height: 21.56px;
  font-size: 12px;
  color: #767e9e;
  
  grid-column: 2;
  overflow: hidden;
}
